.home {
  text-align: center;
}

button {
  font-size: 1.5rem; /* Larger font size */
  margin-top: 10px; /* Add margin to separate buttons */
  margin-left: 10px;
}

input {
  width: 300px;
  padding: 10px;
  font-size: 1.5rem; /* Larger font size */
  margin-top: 10px; /* Add margin to separate input and buttons */
}

.button-row {
  display: flex;
  justify-content: center;
}